
<div class="sitewidth">

  <div class="clr-row">
    <div class="clr-col-lg-12 clr-col-16">
      <div class="" style="padding:15px;">
        <div class="card-header">
          <b style="color:#e8e7e7;">{{event.title}}</b>
<div style="float:right;">
  <a *ngIf="event.email" href="mailto:{{event.email}}" style="margin-right:20px; text-decoration: none;">Booking Request</a>
  <a href="{{event.iframeLink}}" style="text-decoration: none;">Press Kit</a>
</div>

        </div>
        <div style="float:right; padding:15px;" class="clr-col-lg-4 clr-col-12">
          <div class="card-img">
            <img src="{{event.image}}" alt="{{event.title}}" />
          </div>
          <div class="card-block">
            <p class="card-text">
            <div id="descRDJ"></div>

          </div>

        </div>
          <div class="card-block">
          <p class="card-text">

            <div id="descR"></div>


        </div>

      </div>
    </div>
  </div>





</div>
